<%= form_for(@employee) do |f| %>

    <%= render partial: 'partials/form_errors', locals: {model: @employee} %>

    <div class="form-group">
      <%= f.label :status, 'Ищу работу' %>
      <%= f.radio_button :status, true, checked: true %>
      <%= f.label :status, 'Не ищу работу' %>
      <%= f.radio_button :status, false %>
    </div>

    <div class="form-group">
      <%= f.label :name, 'ФИО' %>
      <%= f.text_field :name, placeholder: 'Только кириллица', class: 'form-control'  %>
    </div>

    <div class="form-group">
      <%= f.label :contacts, 'Контактная информация' %>
      <%= f.text_field :contacts, placeholder: 'Email или номер телефона', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :salary, 'Зарплата' %>
      <%= f.text_field :salary, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :skills_data, 'Навыки' %>
      <%= f.text_field :skills_data, id: 'skills_input' %>
    </div>

    <div class="actions">
      <%= f.submit 'Сохранить', class: 'btn btn-primary' %> или <%= link_to 'вернуться', :back %>
    </div>
<% end %>
