<%= form_for(@vacancy) do |f| %>

    <%= render partial: 'partials/form_errors', locals: {model: @vacancy} %>

    <div class="form-group">
      <%= f.label :name, 'Название' %>
      <%= f.text_field :name, placeholder: 'Название вакансии', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :expiration_date, 'Дата окончания' %>
      <%= f.text_field :expiration_date, placeholder: 'дд.мм.гггг', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :salary, 'Зарплата' %>
      <%= f.text_field :salary, placeholder: 'Рублей', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :contacts, 'Контактная информация' %>
      <%= f.text_field :contacts, placeholder: 'Любая контактная информация', class: 'form-control' %>
    </div>


    <div class="form-group">
      <%= f.label :skills_data, 'Навыки' %>
      <%= f.text_field :skills_data, id: 'skills_input' %>
    </div>


    <div class="actions">
      <%= f.submit 'Сохранить', class: 'btn btn-primary' %> или <%= link_to 'вернуться', :back %>
    </div>

<% end %>
