<div class="row">
  <div class="col-md-6">
    <div class="vacancy-description">
      <h1><%= @vacancy.name %></h1>
      <p>Зарплата: <%= @vacancy.salary %></p>
      <p>Действительна до: <%= @vacancy.expiration_date %></p>
      <p>Контактная информация: <%= @vacancy.contacts %></p>
      <p>
        <strong>Умения:</strong>
        <%= @vacancy.skills.map {|s| s.name}.join(', ') %>
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="suitable-vacancies">
      <h2>Подходящие работники:</h2>
      <div class="list-group">
        <% @suitable_employees.each do |e| %>
            <a href="<%= employee_path(e) %>" class="list-group-item row">
              <div class="col-md-6"><%= e.name %></div>
              <div class="col-md-6 text-right"><%= e.salary %> руб.</div>
            </a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Редактировать', edit_vacancy_path(@vacancy) %> |
<%= link_to 'К списку', vacancies_path %>
